body{
   background-image:linear-gradient(to left top ,#ff6,#dad299, #dad199, #b0dab9, #ff6);
}

.right{
    text-align:right;
}
.sample{
    color:skyblue;
}
.blue{
    color:blue;
}
.italic{
    font-style:italic;
}
#border{
    border:double black;
}
li{
    background-color:skyblue;
    padding:10px;
    margin:10px;
}
h1{
    background-color:skyblue;
    padding-top:30px;
    padding-bottom:30px;
}
