body{ 
        background-color:#e6e6fa;
            
      }
h1{ color:blue; 
    font-size: 35px;
     font-style:italic;
     text-align:center; 
     
   }
            
h2{
    background-color:rgb(0,0,0);
     color:white;
    text-align:right;             
  }



#need{color:#405dd4;
      font-style:italic;
                
    }
            
.worry{
        color:green;
        font-size:30px;
        font-weight:bold;
        text-align:justify;
            
      }
      
p{
    color:blue;
    
                
  }