body{
    padding:20px 5px 0px 5px;
}

@media (max-width:767px){
    section{
    padding:0px 0px 10px 10px;
           }
    .globalStartup{
        display:none;
    }
}
@media (min-width:768px){
    .Spaces{
        padding:0px 25px 15px 25px;
    }
    .globalStartup{
        background-color:lightgray;
    }
}