body{
    padding:5px 5px 0px 5px; 
}
h1{
    text-align:center;
}
@media (max-width:767px){
.card{
    padding:10px;
}
.creatingForce{
    display:none;
}
}

@media (min-width:768px){
    .card{
        display:inline-block;
        padding:0px 5px 5px 25px ;
    }
    .globalStartup{
        display:none;
    }
    .creatingForce{
        display:inline-block;
        width:50%;
        text-align:left;
    }
    .worldProducts{
        display:inline-block;
        width:49%;
        text-align:left;
    }
}
