.green-color{
    background-color: #09885a;
    height:60px;
}
.purple-color{
    background-color: #5a57bb;
    height:60px;
    
}
.orange-color{
    background-color: #ff9900;
    height:60px;
    
}
.blue-color{
    background-color: #4a86e8;
    height:90px;
    
}
.purple-full{
    background-color: #5a57bb;
    height:90px;
    
}