
/* Write your CSS here */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC&display=swap');
body{
    font-family:sans-serif;
    padding-left:3%;
    padding-right:3%;
}


.underline{
     border-bottom:2px solid skyblue;
}

.details{
    
    font-weight:bold;
    font-size:20px;
    margin-bottom:5%;
}

.center{
    margin-top:70px;
    color:blue;
    text-align:center;
    font-weight:bold;
    font-size:25px;
    margin-bottom:40px;
    
}
img{
    
    height:10%;
    width:10%;
    margin-bottom:20px;
}
.right{

    margin-right:4%;
}
.left{    
    margin-left:9.5%;
    
}