body {
  background-color: #f7fbff;
  padding:5px;
}
.card{
    background-color: #f7fbff;
      padding:5px;
}
h1{
  text-align:center;
}
@media (max-width:575px){
  .textBox{
    padding:10px 0px 10px 0px;
    background-color:orange;
    margin-bottom:10px;
    text-align:center;
    border:2px solid black;
  }
}

@media (min-width:576px){
  .textBox{
    padding:20px 0px 20px 0px;
    background-color:#00c8ff;
    margin-bottom:20px;
    text-align:center;
    border:2px dashed black;
  }
}
@media (min-width:768px){
  .textBox{
    padding:30px 0px 30px 0px;
    background-color:#246caf;
    margin-bottom:30px;
    text-align:center;
    border:2px dotted black;
  }
}

@media (min-width:992px){
  .textBox{
    padding:40px 0px 40px 0px;
    background-color:#7985ff;
    margin-bottom:40px;
    text-align:center;
    border:2px solid black;
  }
}

@media (min-width:1200px){
  .textBox{
    padding:50px 0px 50px 0px;
    background-color:white;
    margin-bottom:50px;
    text-align:center;
    border:2px solid white;
  }
}