/* Write your CSS here */

/**{*/
/*    border:2px solid red;*/
/*}*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    background-color:#f0f2f2;
    font-family:Roboto;
}
h1{
    text-align:center;font-size:19.5px;margin-bottom:38px;
}
.course{
    text-align:center;
    padding-left:20px;
    margin-bottom:8px;
    
}
.info{
    text-align:center;font-size:19px;margin-bottom:40px;
}
.tech{
     border:1px solid black;
     width:65px;
     height:20px;
     display:inline-block;
     border-radius:20px;
     padding:6px;
     background-color:#006699;
     color:white;
     margin-right:12px;
     font-weight:bold;
     
}
.manag{
    border:1px solid #cccccc;
    width:120px;
     height:20px;
     display:inline-block;
     border-radius:20px;
    padding:6.5px;
    margin-right:12px;
    color:grey;
    font-weight:bold;
}
.edu{
    border:1px solid black;
    width:160px;
     height:20px;
     display:inline-block;
     border-radius:20px;
    padding:6px;
    margin-right:10px;
    font-weight:bold;
}
.comingsoon{
    color:grey;
    padding-left:59px;
    font-size:12px;   
    margin-top:-2px;
    margin-bottom:50px;
}
.source{
        padding-left:170px;
        margin-bottom:20px;
}
.dev{
    border-left:4px solid #00bfff;
    display:inline-block;
    height:20px;
    width:270px;
    padding:10px;
    border-radius:5px;
    background-color:white;
    margin-bottom:27px;
}

.dev1{
    display:inline-block;
    border-left:4px solid #cccccc;
    height:20px;
    width:270px;
    padding:10px;
    border-radius:5px;
    background-color:white;
    margin-bottom:27px;
}

.join{
    border:1px solid orange;
    display:inline-block;
    background-color:#ff751a;
    color:white;
    padding:7px;
    padding-left:30px;
    padding-right:30px;
    border-radius:3px;
    text-align:center;
    font-weight:bold;
}
.enroll{
    text-align:center;
    font-size:11px;
    margin-top:-20px;
}